// Override this file to add your own SCSS styling.
// .container {
//     max-width: 90% !important;
// }

.container {
    width: 96% !important;
}

// .container-lg {
//     width: 90% !important;
// }

// .container {
//   max-width: 90%; // 720px; //100%;
//   // padding: 0 20px 0 20px;
//   // margin: 0 auto 0 auto;
//   // font-size: 20px;
// }

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.1rem;
//   font-weight: bold;
}

* {-webkit-font-smoothing: antialiased;}

// ::-webkit-font-smoothing {
//   font-smooth: antialiased;
// }